# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Caches
.ipynb_checkpoints/

# SQLite Database Binary Exclusion
*.db
data/db/*.db
sql/*.db

# Archives & Temporary Zip Files
*.zip

# Logs
logs/
*.log

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
