# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS / System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Configs
.vscode/
.idea/

# Scratch & Temporary Logs
scratch/
*.log
